<div class="ui-grid ui-grid-responsive ui-grid-pad" style="margin-top:10px">
	<div class="ui-grid-row">
		<div class="ui-grid-col-4">
			<p-autoComplete [(ngModel)]="leverancier" [suggestions]="results" (completeMethod)="search($event)" [dropdown]="true" (onDropdownClick)="handleDropdown($event)" [minLength]="1" field="naam" (onSelect)="itemSelected()">
			</p-autoComplete>
		</div>
		<div class="ui-grid-col-2">
			<a [routerLink]="['/leveranciers/new']" routerLinkActive="active">
				<span class="fa fa-plus-circle"></span>
			</a>
		</div>
	</div>
</div>

<div class="ui-grid ui-grid-responsive ui-grid-pad" style="margin-top:10px" *ngIf="selected">
	<div class="ui-grid-row">
		<div class="ui-grid-col-1">
			<button type="button" (click)="toggleEdit()" pButton label="Edit" [disabled]="editValues"></button>
		</div>
		<div class="ui-grid-col-2">
			<button type="button" (click)="toggleEdit()" pButton label="Save" [disabled]="editValues == false"></button>
		</div>
	</div>
    <div class="ui-grid-row">
		<div class="ui-grid-col-1">
			<label>Naam: </label>
		</div>
		<div class="ui-grid-col-11"  *ngIf="editValues == false">
			{{leverancier.naam}}
		</div>
		<div class="ui-grid-col-11"  *ngIf="editValues">
			<input type="leverancier" pInputText [(ngModel)]="leverancier.naam"/>
		</div>
	</div>
	<div class="ui-grid-row">
		<div class="ui-grid-col-1">
			<label>Adres: </label>
		</div>
		<div class="ui-grid-col-11"  *ngIf="editValues == false">
			{{leverancier.adres.straat}}
		</div>
		<div class="ui-grid-col-11"  *ngIf="editValues">
			<input type="leverancier" pInputText [(ngModel)]="leverancier.adres.straat"/>
		</div>
	</div>
	<div class="ui-grid-row">
		<div class="ui-grid-col-1">
		</div>
		<div class="ui-grid-col-11" *ngIf="editValues == false">
			{{leverancier.adres.postcode}} {{leverancier.adres.gemeenteNaam}}
		</div>
		<div class="ui-grid-col-11"  *ngIf="editValues">
			<input type="leverancier" pInputText [(ngModel)]="leverancier.adres.postcode" type="number"/>
			<input type="leverancier" pInputText [(ngModel)]="leverancier.adres.gemeenteNaam"/>
		</div>
	</div>
	<div class="ui-grid-row">
		<div class="ui-grid-col-1">
			<label>Telefoon: </label>
		</div>
		<div class="ui-grid-col-11" *ngIf="editValues == false">
			<a href="tel:{{leverancier.telefoon}}">{{leverancier.telefoon}}</a>
		</div>
		<div class="ui-grid-col-11"  *ngIf="editValues">
			<input type="leverancier" pInputText [(ngModel)]="leverancier.telefoon"/>
		</div>
	</div>
	<div class="ui-grid-row">
		<div class="ui-grid-col-1">
			<label>Fax: </label>
		</div>
		<div class="ui-grid-col-11" *ngIf="editValues == false">
			{{leverancier.fax}}
		</div>
		<div class="ui-grid-col-11"  *ngIf="editValues">
			<input type="leverancier" pInputText [(ngModel)]="leverancier.fax"/>
		</div>
	</div>
	<div class="ui-grid-row">
		<div class="ui-grid-col-1">
			<label>E-mail: </label>
		</div>
		<div class="ui-grid-col-11" *ngIf="editValues == false">
			<a href="mailto:{{leverancier.email}}">{{leverancier.email}}</a>
		</div>
		<div class="ui-grid-col-11"  *ngIf="editValues">
			<input type="leverancier" pInputText [(ngModel)]="leverancier.email"/>
		</div>
	</div>
	<div class="ui-grid-row">
		<div class="ui-grid-col-1">
			<label>Site: </label>
		</div>
		<div class="ui-grid-col-11" *ngIf="editValues == false">
			<a href="{{leverancier.website}}">{{leverancier.website}}</a>
		</div>
		<div class="ui-grid-col-11"  *ngIf="editValues">
			<input type="leverancier" pInputText [(ngModel)]="leverancier.website"/>
		</div>
	</div>
	
	<p-panel header="Title" [toggleable]="true" (onBeforeToggle)="toggle($event)" [collapsed]="collapsed" [style]="{'margin-top':'33px'}">
		<div class="ui-grid ui-grid-responsive ui-grid-pad" style="margin-top:10px" *ngIf="selected">
			<div class="ui-grid-row">
				<div class="ui-grid-col-1">
					<button type="button" (click)="toggleAddArtikels()" pButton label="Edit"></button>
				</div>
				<div class="ui-grid-col-11"  *ngIf="addArtikels">
					<p-autoComplete  [(ngModel)]="selectedArtikel" [suggestions]="resultArtikel" (completeMethod)="searchArtikel($event)" [dropdown]="true" (onDropdownClick)="handleArtikelDropdown($event)" [minLength]="1" field="omschrijving" (onSelect)="artikelsSelected()">
					</p-autoComplete>
				</div>
			</div>
		</div>
	
		<p-dataTable [value]="leverancier.artikels" expandableRows="true">
			
			<template let-artikel>
				<p-dataTable [value]="artikel.leveranciers" >
					<p-column field="naam" header="Naam"></p-column>
					<p-column field="gemeente" header="Adres">
						<template let-col let-lev="rowData">
							{{lev.adres.postcode}} {{lev.adres.gemeenteNaam}} {{lev.adres.straat}}
						</template>
					</p-column>
					<p-column field="telefoon" header="Telefoon">
						<template let-col let-lev="rowData">
							<a href="tel:{{lev.telefoon}}">{{lev.telefoon}}</a>
						</template>
					</p-column>
					<p-column field="fax" header="Fax"></p-column>
					<p-column field="email" header="E-mail">
						<template let-col let-lev="rowData">
							<a href="mailto:{{lev.email}}">{{lev.email}}</a>
						</template>
					</p-column>
					<p-column field="naam" header="Naam">
						<template let-col let-lev="rowData">
							<a href="{{lev.website}}">{{lev.website}}</a>
						</template>
					</p-column>
				</p-dataTable>
	   		</template>
	   		<p-column expander="true" [style]="{width:'33px'}"></p-column>
			<p-column field="omschrijving" header="Omschrijving"></p-column>
			<p-column [style]="{width:'55px'}" styleClass="col-button">
				<template let-col let-art="rowData">
					<button pButton type="button" (click)="deleteArtikel(art)" icon="fa fa-minus-circle"></button>
				</template>
			</p-column>
		</p-dataTable>
	</p-panel>
</div>